package fragments

templ InfiniteScrollTrigger() {
	<div
		class="flex justify-center"
		hx-post
		hx-trigger="revealed"
		hx-swap="afterend settle:200ms show:none"
		hx-select="#content"
		hx-target="closest #content"
		hx-indicator="#contentLoading"
		hx-headers='{"Content-Request": "true"}'
	>
		<div id="contentLoading" class="htmx-indicator pt-24 pb-12">
			<div class="animate-spin rounded-full size-12 border-6 border-neutral-800 border-t-blue-400"></div>
		</div>
	</div>
}
